requests==2.32.3
numpy==2.0.2
sentence-transformers==3.0.1
pydantic==2.8.2
tqdm==4.66.4
rich==13.8.0
feedparser==6.0.11
streamlit==1.37.1
beautifulsoup4==4.12.3
langchain==0.2.14
langgraph==0.2.37
langchain-community==0.2.12
python-dotenv==1.0.1
scikit-learn==1.5.2